/* Documento css de estilo sobre 
  el CV del Príncipe Vegeta. */

 /* font-face para fuentes
     que quiero usar. */
@font-face {
     font-family: "Saiyan-Sans";
     src: url("Saiyan-Sans.ttf");
  }
@font-face {
   font-family: "ITCAvantGardeStd Md";
   src: url("ITCAvantGardeStd Md.ttf");
}

  /* Fondo de pantalla */
body {
   background-image: url("paisaje.gif");
   background-size: cover;
   width: 100%;
   height: 100%;
   position: absolute;
}

 /* Encabezado */
.title {
   font-family: "Saiyan-Sans";
   font-size: 50px;
   text-align: center;
   text-shadow: 4px 4px red;
   border: red 10px double;
   padding: 10px;
   margin: 50px;
   margin-bottom: 0px;
   background-color: rgb(255, 115, 0);
   color: yellow;
   -webkit-text-stroke: 0.1px black;
}
#imagen {
   padding: 15px;
   padding-right: 65px;
   margin: auto;
   display: block;
   text-align: center;
   width: 250px;
   height: 250px;
}

/*Estilo parrafos y subtitulos*/
.parrafos {
   font-family: "ITCAvantGardeStd Md";
   font-size: 25px;
   margin: 8px;
   padding: 15px;
   padding-left: 40px;
 }
h2{
   background-color: rgb(255, 115, 0);
   color: red;
   -webkit-text-stroke: 0.1px black;
   font-family: 'Saiyan-Sans';
   font-size: 50px;
   padding-left: 20px;
 }
.parrafos2 {
   font-family: "ITCAvantGardeStd Md";
   font-size: 25px;
   margin: 8px;
   padding: 15px;
   color: white;
   padding-left: 50px;
   padding-right: 20px;
 }
h3{
   background-color: rgba(0, 0, 0, 0.603);
   color: white;
   -webkit-text-stroke: 0.1px black;
   font-family: 'Saiyan-Sans';
   font-size: 50px;
   padding-left: 20px;
 }

 /* Cuerpo principal */
#principal {
   width: 70%;
   background-color: orangered;
}
.tablas {
   font-family: "ITCAvantGardeStd Md";
   font-size: 25px;
   margin: 8px;
   padding: 15px;
   padding-left: 40px;
   display: block;
   overflow-x: auto;
 }

/* Cuerpo Secundario */
#lateral {
   float: right;
   text-align: left;
   width: 25%;
   border-radius: 25px;
   background-color: rgba(5, 99, 251, 0.801);
   min-height: 70vh;
   padding-bottom: 50px;
   margin-top: 20px;
   margin-right: 1px;
}